.bank-con {
    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(320px, 1fr)
    );

    gap: 24px;

    margin-top: 30px;

    width: 100%;
}



/* card */
.bank-card {

    background: linear-gradient(
        145deg,
        #ffffff,
        #f8fafc
    );

    border-radius: 20px;

    padding: 20px;

    border: 1px solid #e2e8f0;

    box-shadow:
        0 10px 25px rgba(15,23,42,0.08);

    transition: 0.25s ease;

    overflow: hidden;
}


.bank-card:hover {

    transform: translateY(-5px);

    box-shadow:
        0 18px 35px rgba(15,23,42,0.15);
}




/* header */
.head-con {

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 18px;

    padding-bottom: 14px;

    border-bottom: 1px solid #e2e8f0;
}



.head-con h3 {

    margin: 0;

    font-size: 18px;

    font-weight: 700;

    color: #0f172a;
}



.bank-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 12px;
  background: #f1f1f1;
  padding: 10px;
}



/* table */

table {

    width: 100%;

    border-collapse: separate;

    border-spacing: 0;

    overflow: hidden;

    border-radius: 12px;

    font-size: 13px;
}




thead {

    background: #eff6ff;
}



th {

    padding: 10px;

    text-align: left;

    color: #2563eb;

    font-size: 12px;

    text-transform: uppercase;

}



td {

    padding: 9px 10px;

    background: white;

    color: #334155;

    border-bottom: 1px solid #f1f5f9;
}
.flag-con {
  display: flex;
  align-items: center;
  gap: 8px;
}

tbody tr {

    transition: .2s;
}



tbody tr:hover td {

    background: #f8fafc;
}




td:first-child {

    font-weight: 700;

    color: #0f172a;
}



.butt-co {
    display: flex;
    gap: 8px;
    margin-top: 18px;
}


/* base button */
.butt-co button {

    border: 1px solid #334155;
    color: #15171a;
    
    padding: 7px 12px;
    border-radius: 6px;

    font-size: 11px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.25s ease;

    height: 32px;
}

.viwemore{
     background: #3877ff;
}


.viwemore:hover{
        background: #b7ceff;
    color: white !important;
}
/* view details */
.viwe {
    background: transparent;
   
}


.viwe:hover {
    background: #3877ff;
    color: white !important;
}



/* compare */
.compere {
    background: transparent;
    border-color: #2563eb !important;
    
}


.compere:hover {
    background: #2a83ff;
    color: white;
}



/* visit site */
.link-bank {
    background: transparent;
    border-color: #2563eb !important;
}


.link-bank:hover {
    background: #1e293b;
     color: white;
}
.buy{
  color: rgb(0, 197, 0);
}

.sell{
  color: red;
}


.flag-con img {
  width: 20px;
  height: 13px;
  object-fit: cover;
  border-radius: 2px;
}

@media(max-width:800px){

    .bank-con{
        display: flex;
        overflow-x: auto;
        gap: 12px;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
       
    }


    .bank-card{
        min-width: 250px;
        max-width: 130px;
        padding: 10px;
        border-radius: 14px;
        flex-shrink: 0;
        scroll-snap-align: start;
        max-height: 550px;
    }


    .head-con{
        margin-bottom: 8px;
        padding-bottom: 8px;
    }


    .head-con h3{
         font-size: 1rem;
    }


    .bank-logo{
        width: 40px;
        height: 40px;
        padding: 3px;
    }


    table{
        font-size: 14px;
    }


    th{
        font-size:8px;
        padding: 3px;
    }


    td{
        padding: 4px;
    }


.butt-co {
    display: flex;
    gap: 6px;
    margin-top: auto; /* 🔥 THIS is the key fix */
}

    .butt-co button{
        height: 28px;
        font-size: 8px;
        padding: 3px;
      
    }
}